header {
    position: fixed;
    top: 10px;
    left: 500px;
    background-color: yellow;
}
.loginC{
    position: fixed;
    top: 400px;
    left: 600px;
}
.padding30{
    padding: 30px;
}
.logo{
    width: 30px; height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
}
main{
    position: fixed;
    top: 200px;
    left: 200px;
}
.aside{
    position: absolute;
    background-color: yellowgreen;
    top: 100px; right: 50px;
}
body{
    background-color:wheat;
}