<!DOCTYPE html>
<html lang="en">

<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link href="{{url_for('static', filename='index.css')}}" rel="stylesheet" type="text/css">


</head>
<body>
    
    <header class="padding30">
        <p>Hello! This is <em>highflyer chat</em></p>
        <img src="{{url_for('static', filename='blackPigeonLogo.gif')}}" class="logo">
    </header>

    <main class="padding30">
        <h1>It's an opensource chat service that cares about your privacy.</h1>
    </main>

    <section class="loginC">
        <a href="/signup">Sign up</a><br><br>
        <a href="/login">Log in</a>
    </section>

    <aside class="aside">
        <a href="https://github.com/aiman-al-masoud/highflyer_chat" target="_blank"> <img src="{{url_for('static', filename='GitHub-Mark-64px.png')}}" style="width:30px;height:30px;"></a>
    </aside>



</body>
</html>