<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link href="./signUPlogIN.css" rel="stylesheet" type="text/css">
</head>
<body>

   <form id="login_form" action="/post_login" method="POST">
       Username
       <br>
       <input type="text" name="username"></input>
       <br>
       Password
       <br>
       <input type="password" name="password"></input>
       <br><br>
       <button type="sumbit" >login</button>
       <br>
   </form>
   
   <footer class="bottomleft">
    <p>This is <em>highflyer chat</em></p>
   </footer>
    
</body>
</html>