<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>

   <form id="signup_form" action="/post_signup" method="POST">
       username
       <br>
       <input type="text" name="username"></input>
       <br>
       password
       <br>
       <input type="password" name="password"></input>
       <br>
       confirm password
       <br>
       <input type="password" name="password_confirm"></input>
       <br>
       <button type="sumbit" >login</button>

   </form>

    
</body>
</html>